@layer components {
  .ply-error-summary > .body > ul {
    display: grid;
    gap: var(--ply-space-1);
    margin: 0;
    padding: 0;
    list-style: none;
    & > li > a {
      display: flex;
      align-items: start;
      gap: var(--ply-space-2);
      inline-size: fit-content;
      max-inline-size: 100%;
      color: var(--ply-link);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      & > .number {
        color: var(--ply-muted);
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
